@import "https://fonts.googleapis.com/css?family=Poppins";

* {
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: #0f0c29;
  height: 100%;
}

header {
  background-color: #eef3a6;
  padding: 20px;
  color: #050505;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  display: inline;
  margin-right: 20px;
  margin-left: 10px;
}

nav ul li a {
  color: #050505;
  text-decoration: none;
}

.header-itens {
  display: flex;
  justify-content: space-between;
  justify-items: flex-end;
  align-items: center;
  width: 80px;
  font-size: 30px;
  text-decoration: none;
  margin-right: 20px;
}

.cart,
.user {
  color: #050505;
  text-decoration: none;
}

.cart {
  position: relative;
  /* Define o elemento pai como posição relativa */
  margin-left: 10px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.circle.before {
  display: flex;
  justify-content: center;
  justify-self: flex-end;
  font-size: 16px;
  border: solid red 1px;
  background-color: red;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  align-items: center;
  text-align: center;
  margin: 0;
  position: absolute;
  /* Define o contador como posição absoluta */
  top: -5px;
  /* Ajuste a posição vertical conforme necessário */
  right: -5px;
  /* Ajuste a posição horizontal conforme necessário */
}

.circle {
  margin: 0;
}

h1 {
  color: #000;
  display: flex;
  justify-content: center;
}

.carrinho-container {
  margin: 50px 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #333;
  color: #fff;
}

table button {
  background-color: #991111;
  color: #fff;
  border: none;
  cursor: pointer;
}

section.newsletter {
  margin-top: 240px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

section.newsletter h2 {
  margin: 0;
}

section.newsletter p {
  margin: 10px 0;
}

section.newsletter input[type="email"] {
  padding: 10px;
  width: 250px;
}

section.newsletter button {
  background-color: #e44d26;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

section.newsletter button:hover {
  background-color: #333;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}